<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="/static/css/main.css">
    </head>
    <body class="watch-body">
        <div class="video-column">
            <iframe
                class="video-frame"
                loading="lazy"
                src="https://www.youtube-nocookie.com/embed/{{ id }}"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
            ></iframe>

            <div class="video-info-line">
                <span class="title">{{ title }}</span>
                <div class="video-details">
                    <span><span class="icon">👤 </span>
                        <a href="{{ channel_url }}">{{ uploader }}</a>
                    </span>
                    <span><span class="icon">🠝</span> {{ human_date }}</span>
                    <span><span class="icon">⦿</span> {{ human_views }}</span>
                    <span><span class="icon good">👍</span> {{ likes }}</span>
                    <span><span class="icon bad">👎</span> {{dislikes}}</span>
                </div>
            </div>

            <p class="description">{{ html_description|safe }}</p>
        </div>

        <iframe
            class="related-frame"
            src="{{ related_url }}"
            scrolling="no"
            loading="lazy"
            data-entries="{{ entries }}"
        ></iframe>
    </body>
</html>
