<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="static/css/main.css">
    </head>
    <body>
        <iframe
            class="video-frame"
            loading="lazy"
            src="https://www.youtube-nocookie.com/embed/{{ id }}"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
        ></iframe>

        <iframe
            class="related-frame"
            src="{{ related_url }}"
            scrolling="no"
            loading="lazy"
            data-entries="{{ entries }}"
        ></iframe>

        {% include "navbar.html.jinja" %}
    </body>
</html>
