// vim: shiftwidth=4

$thumb_width:    256px
$spacing:        16px
$max_row_thumbs: 4
$thumb_space:    ($thumb_width + $spacing * 2)

$text: hsl(0, 0, 70%)

html
    font-size: 62.5%
    height: 100%

body
    background: hsl(240, 27%, 14%)
    color: $text
    font-family: Roboto, "Noto Sans", "Droid Sans", Verdana, sans-serif
    font-size: 1.6rem
    line-height: 120%
    min-height: 100%
    margin: 0

a
    color: hsl(165, 50%, 70%)
    text-decoration: none

iframe
    overflow: hidden
    border: 0

.thumb-grid
    display: flex
    flex-flow: row wrap
    align-content: flex-start
    justify-content: flex-start
    margin: 0 auto
    max-width: $thumb_space

@for $row_thumbs from 2 through $max_row_thumbs
    @media all and (min-width: $thumb_space * $row_thumbs)
        .thumb-grid
            max-width: $thumb_space * $row_thumbs

.thumb-grid iframe
    margin: 16px
    margin-bottom: 0
    width: $thumb_width
    height: $thumb_width

.thumb
    display: block
    width: $thumb_width

.thumb .image-wrapper
    width: $thumb_width
    position: relative

.thumb img
    width: $thumb_width

.thumb-duration
    position: absolute
    bottom: $spacing / 2
    right: $spacing / 4
    color: $text
    background: hsla(0, 0%, 0%, 0.7)
    padding: $spacing / 2

.thumb-title
    color: $text

.thumb-uploader, .thumb-date, .thumb-views
    font-size: 1.3rem
    color: $text

.watch-body
    display: flex
    flex-flow: column nowrap

.video
    width: 100vw
    height: 56.26vw
    max-height: 75%

.related
    width: 100%
    height: $thumb_width * 10
