<!DOCTYPE html>
<html>
    <head>
        <title>{{ query }}</title>
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="static/css/main.css">
    </head>
    <body>
        <iframe
            class="video"
            width="1280"
            height="720"
            src="https://www.youtube-nocookie.com/embed/{{ id }}"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
        ></iframe>
    </body>
</html>
